<%- model_class = Profile -%>
<div class="page-header">
  <h1>Edit Artist</h1>
</div>
<%= render :partial => 'form' %>

<div id="ModalAccessPages" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Manage Fan Pages</h3>
  </div>
  <div class="modal-body">
    <p>Are you sure to Manage Facebook fan Page? Ignore if already have access.</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <a href="<%= @auth_url %>"><button class="btn btn-primary">Confirm</button>
    </a>
  </div>
</div>

