<%- model_class = User -%>
<div class="page-header">
  <h1><%=t '.title', :default => @user.artist.profile.name %></h1>
</div>
<div class="clear"></div>
<div class="span3">
  <%= image_tag @user.artist.profile.remote_avatar_url, width: 100, height: 100 %>
</div>
<div class="clear"></div>
<hr />
<div class="clear"></div>
<div class="row">
  <h3>Upcoming Gigs</h3>
</div>
<div class="row">
  <%= link_to 'New Gigs', new_gigs_path %>
</div>
<div class="clear"></div>
<div class="row">
  <h3>Past Gigs</h3>
</div>


