/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require formtastic-bootstrap
 *= require jquery.ui.all
 */

.control-fixed-height {
    max-height: 150px;
    overflow: auto;
}

.connect_twitter {
    border: 1px solid black;
    border-radius: 9px;
    margin: 0px 34px 0 0;
}

.btn_connect_twitter {
    padding: 50px 118px;
}

.title {
    font-size: 16px;
    padding: 5px;
    background-color: #808080;
    width: 98%;
    text-transform: uppercase;
    border-radius: 10px 10px 0 0;
}

.dialog {
    font-size: 12px;
    padding: 0 0 5px 18px;
}
